{% comment %}
  Description:
  Renders product variant swatch options for collection page based on image URLs.
  Defaults to buttons if no image URL is present.

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - variant_images_data: list of variant images
  - lazy_load_all_variants: lazy load all variant images for immediate availability when clicking swatches

  Usage:
  {% render 'variant-swatch-collection',
    product: product,
    option: option,
    variant_images_data: variant_images_data,
    lazy_load_all_variants: lazy_load_all_variants
  %}
{% endcomment %}

{{ 'card-product-variant-selection-custom.css' | asset_url | stylesheet_tag }}

{% assign product_form_id = 'product-form-' | append: product.id %}

{% liquid
  assign swatchStyle = settings.CollectionswatchStyle
%}

{% for value in option.values %}
  {% assign variant_image_url = null %}
  {% assign variant_id = null %}
  {% assign option_disabled = true %}
  {% assign first_match_found = false %}

  {% for variant in product.variants %}
    {% if first_match_found == false %}
       {% case option.position %}
        {% when 1 %}
          {% assign option_value = variant.option1 %}
        {% when 2 %}
          {% assign option_value = variant.option2 %}
        {% when 3 %}
          {% assign option_value = variant.option3 %}
      {% endcase %}
          {% if option_value == value %}
            {% assign variant_image_url = variant.featured_media | image_url: width: 300, height: 300 %}
            {% assign variant_id = variant.id %}
            {% assign variant_price = variant.price | money_with_currency %}
            {%- assign variant_second_image_url = '' -%}
            {%- for media in product.media -%}
              {%- if media.alt == variant.featured_media.alt and media.id != variant.featured_media.id -%}
                {%- assign variant_second_image_url = media | image_url: width: 300, height: 300 -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
            {% if lazy_load_all_variants %}
              <!-- Preload image -->
              <img
                src="{{ variant_image_url }}"
                alt="{{ variant.title }}"
                style="display: none;"
                loading="lazy"
                data-variant-id="{{ variant.id }}"
                width="{{ variant.featured_media.width }}"
                height="{{ variant.featured_media.height }}"
              >
            {% endif %}
            {% if variant.available %}
              {% assign option_disabled = false %}
            {% endif %}
            {% assign first_match_found = true %}
          {% endif %}
    {% endif %}
  {% endfor %}

  <div class="tr-collection-product-card__swatch">
    <input
      type="radio"
      id="collection-{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="collection-{{ section.id }}-{{ product.id }}-{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      data-section-id="{{ section.id }}"
      data-product-id="{{ product.id }}"
      data-variant-id="{{ variant_id }}"
      data-image-url="{{ variant_image_url }}"
      data-second-image-url="{{ variant_second_image_url }}"
      data-variant-price="{{ variant_price }}"
      data-option-name="{{ option.name }}"
      data-option-value="{{ value }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
    {% if option.name == 'Color' %}
      <label
        class="color-swatch {% if option_disabled %}disabled-swatch{% endif %}"
        style="background-color: {{ value | downcase }};"
        for="collection-{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
      >
        <span class="visually-hidden">{{ value }}</span>
      </label>
    {% elsif option.name == 'Size' %}
      <label
        class="size-swatch {% if option_disabled %}disabled-swatch{% endif %}"
        for="collection-{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
      >
        {{ value }}
      </label>
    {% endif %}
  </div>
{% endfor %}
